.tr td {
  border: 1px solid #E3E6EC;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 8px;

    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #474955;
  }
}

