.option {
  list-style: none;
  transition-duration: 0.2s;
  padding: 8px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;

  &:hover {
    background: lightgray;
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}